* {box-sizing: border-box;}

body {font-family: Verdana, Arial, sans-serif;}

/* Style the header */
header {
  background-color: #FFFFFF;
  padding: 0px 10px 10px 0px;
  text-align: left;
  font-size: 20px;
}

/* Container for flexboxes */
section {
  display: -webkit-flex;
  display: flex;
  border: 2px solid #5f7d8b;

}

/* Style the navigation menu */
nav {
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  background: #c2e4f1;
  padding: 20px;
  border-right: 2px solid #5f7d8b;
  font-family: Copperplate, Papyrus, fantasy;
  color: #5f7d8b;
  text-align: center;
}

/* Style the list inside the menu */
nav ul {
  list-style-type: none;
  padding: 0px;
}


/* Style the content */
article {
  -webkit-flex: 3;
  -ms-flex: 3;
  flex: 3;
  padding: 0px 0px 0px 0px;
  font-family: Georgia, Garamond, serif;
}

/* Style the footer */
footer {
  background-color: #5f7d8b;
  padding: 10px;
  text-align: center;
  color: white;
}

/* Responsive layout - makes the menu and the content (inside the section) sit on top of each other instead of next to each other */
@media (max-width: 600px) {
  section {
    -webkit-flex-direction: column;
    flex-direction: column;
  }
}

.titre {color: #1e90ff; font-weight: bold; text-align: left; margin-top:0; margin-bottom:0; border-top: 2px solid #66ace7}

.soustitre {color: #66ace7; font-family: verdana, sans serif; font-weight: bold; text-align: left; margin-top:0; margin-bottom:0}

.menutitre {text-align:center; padding:0px; margin:0px; color:#5f7d8b; border-bottom:2px solid #5f7d8b}

.listpad {padding-bottom:15px}

.contact {padding-bottom:15px}

a.menu:link {color: #5f7d8b; text-decoration: none; padding-left: 4px}
a.menu:visited {color: #1e90ff; text-decoration: none; padding-left: 4px}
a.menu:hover {color: #000000; text-decoration: underline; padding-left: 4px}

a.homepage:link {background: #5f7d8b; color: #ffffff; text-decoration: none; padding: 4px}
homepage:visited {color: #1e90ff; text-decoration: none; padding-left: 4px}
a.homepage:hover {background: #ffffff; color: #000000; text-decoration: underline; border: 2px solid; padding: 4px}


a.contact:link {background: #5f7d8b; color: #ffffff; text-decoration: none; border: 2px solid; padding: 4px}
a.contact:hover {background: #ffffff; color: #000000; text-decoration: underline; border: 2px solid; padding: 4px}



.titretext {text-align:center; color:#5f7d8b; margin-top: 0px; padding-top: 0px}
.corpstext {text-align: justify}

a.foot:link {color:#ffffff; text-decoration: none}
a.foot:visited {color:#ffffff; text-decoration: none}
a.foot:hover {color:#c2e4f1; text-decoration: underline}

/* NAVIGATION DANS LES DÉCENNIES */


ul.menuarch {list-style-type: none;padding: 0px; text-align: center}

a.decade:link {color: #5f7d8b; text-decoration: none; padding-left: 4px}
a.decade:visited {color: #1e90ff; text-decoration: none; padding-left: 4px}
a.decade:hover {color: #000000; text-decoration: underline; padding-left: 4px}

h2.menuarch2 {padding: 0px; text-align: center; font-weight: normal; font-size: normal;   font-family: Copperplate, Papyrus, fantasy} 

ul.sousmenuarch {text-align: left; padding: 0px 20px 20px 20px}




/* FORMATAGE DOCUMENT */


h1.titrarchiv {color: #1e90ff; text-align: right; margin-top:0; margin-bottom:0; border-top: 2px solid #66ace7}

h2.titrintro {color: #FFFFFF; font-weight: bold; margin: 0px; padding: 10px; text-align: center; clear: both; background-color: #6699FF}

.intro {text-align: justify; margin: 0px; padding: 10px; border-bottom: 2px solid #6699FF}

.signum {text-align: right}

.cadre {background-color:#fcfbf5; margin-top: 5px; border: 5px solid #6699FF}

h3.document {text-align:center; margin:0px; padding:10px}

.source {font-style: normal; font-weight: normal; text-align: justify; margin: 0px; padding: 10px; border-bottom: 2px solid #6699FF; background-color: #99CCFF}

h4.etrad {color: #0066FF; font-style: normal; font-weight: normal; text-align: left; clear: both; background-color: #FFFFFF; padding: 4px; font-family: Verdana, Arial, sans-serif;}

.edoc {text-align: justify; margin-top: 0px; margin-left: 0px; margin-right: 0px; margin-bottom: 0px; padding: 20px}




.reference {font-family: courier, monospace; text-align: left;}
